In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm

In [64]:
momentum_returns_df=pd.read_csv('/Users/anuraaggopaluni/Documents/Momentum new.csv')

Detail for 10 Portfolios Formed Monthly on Momentum


Monthly Returns:	 	January 1927-May 2017
 	 	 
Annual Returns:	 	1927-2016
 	 	 
Construction:	 	The portfolios are constructed monthly using NYSE prior (2-12) return decile breakpoints.
 	 	 
Stocks:	 	The portfolios constructed each month include NYSE, AMEX, and NASDAQ stocks with prior return data. To be included in a portfolio for month t (formed at the end of month t-1), a stock must have a price for the end of month t-13 and a good return for t-2. In addition, any missing returns from t-12 to t-3 must be -99.0, CRSP's code for a missing price. Each included stock also must have ME for the end of month t-1.

In [65]:
momentum_returns_df.head()

,Unnamed: 0,Lo PRIOR,PRIOR 2,PRIOR 3,PRIOR 4,PRIOR 5,PRIOR 6,PRIOR 7,PRIOR 8,PRIOR 9,Hi PRIOR
0,192701,-3.32,-4.62,2.66,-0.32,-0.41,0.96,0.77,0.36,-0.43,-0.24
1,192702,7.49,6.01,8.33,7.51,3.80,4.16,2.81,3.28,4.21,6.96
2,192703,-3.20,-2.99,-3.98,-4.76,-0.48,-2.40,2.10,0.61,0.89,5.47
3,192704,1.53,-2.87,-2.46,-1.34,2.59,-0.13,2.05,-0.59,1.64,5.49
4,192705,3.98,4.39,5.90,3.15,6.25,5.92,4.66,6.59,8.16,6.24

In [66]:
momentum_returns_df.columns=['month','1','2','3','4','5','6','7','8','9','10']

In [67]:
momentum_returns_df.head()

    month     1     2     3     4     5     6     7     8     9    10
0  192701 -3.32 -4.62  2.66 -0.32 -0.41  0.96  0.77  0.36 -0.43 -0.24
1  192702  7.49  6.01  8.33  7.51  3.80  4.16  2.81  3.28  4.21  6.96
2  192703 -3.20 -2.99 -3.98 -4.76 -0.48 -2.40  2.10  0.61  0.89  5.47
3  192704  1.53 -2.87 -2.46 -1.34  2.59 -0.13  2.05 -0.59  1.64  5.49
4  192705  3.98  4.39  5.90  3.15  6.25  5.92  4.66  6.59  8.16  6.24

In [68]:
momentum_returns_df=momentum_returns_df[momentum_returns_df['month']>192702]
momentum_returns_df.head()

    month     1     2     3     4     5     6     7     8     9     10
2  192703 -3.20 -2.99 -3.98 -4.76 -0.48 -2.40  2.10  0.61  0.89   5.47
3  192704  1.53 -2.87 -2.46 -1.34  2.59 -0.13  2.05 -0.59  1.64   5.49
4  192705  3.98  4.39  5.90  3.15  6.25  5.92  4.66  6.59  8.16   6.24
5  192706 -6.42 -3.51 -3.13 -2.65 -2.30 -1.79 -1.92 -1.56 -2.48  -1.58
6  192707  4.20  4.53  4.26  5.08  8.33  6.98  8.51  7.04  6.44  13.14

In [69]:
momentum_returns_df=momentum_returns_df[momentum_returns_df['month']<201201]
momentum_returns_df.head()

    month     1     2     3     4     5     6     7     8     9     10
2  192703 -3.20 -2.99 -3.98 -4.76 -0.48 -2.40  2.10  0.61  0.89   5.47
3  192704  1.53 -2.87 -2.46 -1.34  2.59 -0.13  2.05 -0.59  1.64   5.49
4  192705  3.98  4.39  5.90  3.15  6.25  5.92  4.66  6.59  8.16   6.24
5  192706 -6.42 -3.51 -3.13 -2.65 -2.30 -1.79 -1.92 -1.56 -2.48  -1.58
6  192707  4.20  4.53  4.26  5.08  8.33  6.98  8.51  7.04  6.44  13.14

In [70]:
momentum_returns_df=momentum_returns_df.set_index('month')
momentum_returns_df.head()

           1     2     3     4     5     6     7     8     9     10
month
192703 -3.20 -2.99 -3.98 -4.76 -0.48 -2.40  2.10  0.61  0.89   5.47
192704  1.53 -2.87 -2.46 -1.34  2.59 -0.13  2.05 -0.59  1.64   5.49
192705  3.98  4.39  5.90  3.15  6.25  5.92  4.66  6.59  8.16   6.24
192706 -6.42 -3.51 -3.13 -2.65 -2.30 -1.79 -1.92 -1.56 -2.48  -1.58
192707  4.20  4.53  4.26  5.08  8.33  6.98  8.51  7.04  6.44  13.14

In [71]:
momentum_returns_df.index.name = None
momentum_returns_df.head()

           1     2     3     4     5     6     7     8     9     10
192703 -3.20 -2.99 -3.98 -4.76 -0.48 -2.40  2.10  0.61  0.89   5.47
192704  1.53 -2.87 -2.46 -1.34  2.59 -0.13  2.05 -0.59  1.64   5.49
192705  3.98  4.39  5.90  3.15  6.25  5.92  4.66  6.59  8.16   6.24
192706 -6.42 -3.51 -3.13 -2.65 -2.30 -1.79 -1.92 -1.56 -2.48  -1.58
192707  4.20  4.53  4.26  5.08  8.33  6.98  8.51  7.04  6.44  13.14

In [72]:
momentum_returns_df['high minus low']=momentum_returns_df.max(axis=1)-momentum_returns_df.min(axis=1)

In [73]:
momentum_returns_df.head()

,1,2,3,4,5,6,7,8,9,10,high minus low
192703,-3.20,-2.99,-3.98,-4.76,-0.48,-2.40,2.10,0.61,0.89,5.47,10.23
192704,1.53,-2.87,-2.46,-1.34,2.59,-0.13,2.05,-0.59,1.64,5.49,8.36
192705,3.98,4.39,5.90,3.15,6.25,5.92,4.66,6.59,8.16,6.24,5.01
192706,-6.42,-3.51,-3.13,-2.65,-2.30,-1.79,-1.92,-1.56,-2.48,-1.58,4.86
192707,4.20,4.53,4.26,5.08,8.33,6.98,8.51,7.04,6.44,13.14,8.94

In [74]:
momentum_returns_df=momentum_returns_df.rename(columns = {'high minus low':'WML Returns'})

In [75]:
momentum_returns_df.head()

,1,2,3,4,5,6,7,8,9,10,WML Returns
192703,-3.20,-2.99,-3.98,-4.76,-0.48,-2.40,2.10,0.61,0.89,5.47,10.23
192704,1.53,-2.87,-2.46,-1.34,2.59,-0.13,2.05,-0.59,1.64,5.49,8.36
192705,3.98,4.39,5.90,3.15,6.25,5.92,4.66,6.59,8.16,6.24,5.01
192706,-6.42,-3.51,-3.13,-2.65,-2.30,-1.79,-1.92,-1.56,-2.48,-1.58,4.86
192707,4.20,4.53,4.26,5.08,8.33,6.98,8.51,7.04,6.44,13.14,8.94

In [76]:
momentum_returns_df['WML Returns'].describe()

count    1018.00000
mean        7.72556
std         5.98276
min         1.07000
25%         4.26250
50%         6.21500
75%         9.15000
max        77.02000
Name: WML Returns, dtype: float64

In [179]:
print('kurtosis: ' +str(momentum_returns_df['WML Returns'].kurtosis()))
print ('skewness: '+ str(momentum_returns_df['WML Returns'].skew()))

kurtosis: 32.0613198364
skewness: 4.23325004089

In [77]:
momentum_returns_df.tail()

,1,2,3,4,5,6,7,8,9,10,WML Returns
201108,-13.87,-7.82,-3.83,-4.82,-4.64,-3.82,-5.96,-6.25,-7.86,-8.68,10.05
201109,-11.81,-6.88,-7.00,-5.59,-6.82,-6.87,-6.24,-9.78,-7.70,-15.91,10.32
201110,15.83,16.96,13.32,12.43,11.33,8.54,11.27,9.27,10.06,14.93,8.42
201111,-7.62,-4.22,-1.08,-1.92,1.42,0.41,-0.35,1.96,1.37,-1.45,9.58
201112,-3.04,-1.87,-2.09,1.66,-0.67,2.63,1.81,-0.05,1.67,-1.14,5.67

In [160]:
daily_returns_df=pd.read_csv('/Users/anuraaggopaluni/Documents/Daily Returns Momentum.csv')

Daily Returns:	 	November 3, 1926-May 31, 2017
 	 	 
Construction:	 	The portfolios are constructed daily using NYSE prior (2-12) return decile breakpoints.
 	 	 
Stocks:	 	The portfolios constructed each day include NYSE, AMEX, and NASDAQ stocks with prior return data. To be included in a portfolio for day t, a stock must have a price for the day t-251 and a good return for t-21. In addition, any missing returns from day t-250 to t-22 must be -99.0, CRSP's code for a missing price. Each included stock also must have ME for the end of day t-1.

In [161]:
daily_returns_df.head()

,Unnamed: 0,Lo PRIOR,PRIOR 2,PRIOR 3,PRIOR 4,PRIOR 5,PRIOR 6,PRIOR 7,PRIOR 8,PRIOR 9,Hi PRIOR
0,19261103,-0.12,0.58,-0.09,0.30,-0.49,-0.23,-0.12,0.42,0.12,1.28
1,19261104,0.65,1.38,1.58,0.57,1.01,0.70,0.81,0.44,0.47,0.40
2,19261105,-0.84,-0.75,-0.20,-0.15,-0.03,0.11,-0.13,0.36,0.20,0.08
3,19261106,1.03,0.29,0.26,0.37,0.18,0.64,0.10,0.09,0.40,-0.68
4,19261108,-0.03,0.07,1.80,0.28,0.31,0.25,0.30,1.17,0.58,-0.18

In [162]:
daily_returns_df.columns=['month','1','2','3','4','5','6','7','8','9','10']

In [163]:
daily_returns_df.head()

      month     1     2     3     4     5     6     7     8     9    10
0  19261103 -0.12  0.58 -0.09  0.30 -0.49 -0.23 -0.12  0.42  0.12  1.28
1  19261104  0.65  1.38  1.58  0.57  1.01  0.70  0.81  0.44  0.47  0.40
2  19261105 -0.84 -0.75 -0.20 -0.15 -0.03  0.11 -0.13  0.36  0.20  0.08
3  19261106  1.03  0.29  0.26  0.37  0.18  0.64  0.10  0.09  0.40 -0.68
4  19261108 -0.03  0.07  1.80  0.28  0.31  0.25  0.30  1.17  0.58 -0.18

In [134]:
daily_returns_df['month'].dtype

dtype('O')

In [164]:
daily_returns_df=daily_returns_df.set_index('month')
daily_returns_df.index.name = None
daily_returns_df.head()

             1     2     3     4     5     6     7     8     9    10
19261103 -0.12  0.58 -0.09  0.30 -0.49 -0.23 -0.12  0.42  0.12  1.28
19261104  0.65  1.38  1.58  0.57  1.01  0.70  0.81  0.44  0.47  0.40
19261105 -0.84 -0.75 -0.20 -0.15 -0.03  0.11 -0.13  0.36  0.20  0.08
19261106  1.03  0.29  0.26  0.37  0.18  0.64  0.10  0.09  0.40 -0.68
19261108 -0.03  0.07  1.80  0.28  0.31  0.25  0.30  1.17  0.58 -0.18

In [166]:
daily_returns_df['WML Daily']=daily_returns_df.max(axis=1)-daily_returns_df.min(axis=1)
daily_returns_df.head()

,1,2,3,4,5,6,7,8,9,10,WML Daily
19261103,-0.12,0.58,-0.09,0.30,-0.49,-0.23,-0.12,0.42,0.12,1.28,2.26
19261104,0.65,1.38,1.58,0.57,1.01,0.70,0.81,0.44,0.47,0.40,1.18
19261105,-0.84,-0.75,-0.20,-0.15,-0.03,0.11,-0.13,0.36,0.20,0.08,2.04
19261106,1.03,0.29,0.26,0.37,0.18,0.64,0.10,0.09,0.40,-0.68,2.39
19261108,-0.03,0.07,1.80,0.28,0.31,0.25,0.30,1.17,0.58,-0.18,2.16

In [207]:
rolling_standard_deviation=daily_returns_df['WML Daily'].rolling(window=126, center=False).std()
rolling_standard_deviation

19261103         NaN
19261104         NaN
19261105         NaN
19261106         NaN
19261108         NaN
19261109         NaN
19261110         NaN
19261111         NaN
19261112         NaN
19261113         NaN
19261115         NaN
19261116         NaN
19261117         NaN
19261118         NaN
19261119         NaN
19261120         NaN
19261122         NaN
19261123         NaN
19261124         NaN
19261126         NaN
19261127         NaN
19261129         NaN
19261130         NaN
19261201         NaN
19261202         NaN
19261203         NaN
19261204         NaN
19261206         NaN
19261207         NaN
19261208         NaN
              ...
20111117    2.539265
20111118    2.544478
20111121    2.546964
20111122    2.546499
20111123    2.542049
20111125    2.537452
20111128    2.528210
20111129    2.532713
20111130    2.527105
20111201    2.524848
20111202    2.526571
20111205    2.527238
20111206    2.535769
20111207    2.526288
20111208    2.559433
20111209    2.562982
20111212    2.573599
20111213    2.575684
20111214    2.576531
20111215    2.576745
20111216    2.577407
20111219    2.599130
20111220    2.593201
20111221    2.592854
20111222    2.591585
20111223    2.587913
20111227    2.585115
20111228    2.575022
20111229    2.572921
20111230    2.569095
Name: WML Daily, dtype: float64

In [208]:
rolling_standard_deviation=rolling_standard_deviation[::21]
rolling_standard_deviation

19261103         NaN
19261129         NaN
19261223         NaN
19270119         NaN
19270214         NaN
19270311         NaN
19270405    1.055593
19270430    1.019643
19270525    0.980788
19270621    0.958297
19270716    0.981811
19270810    1.038615
19270903    1.128727
19270929    1.107661
19271025    1.193456
19271119    1.227342
19271215    1.215496
19280111    1.174297
19280204    1.034258
19280302    1.053057
19280327    1.048201
19280424    1.016945
19280522    1.070542
19280618    1.288996
19280713    1.383075
19280807    1.378662
19280831    1.360522
19280926    1.330117
19281022    1.267284
19281116    1.007248
              ...
20090709    5.854114
20090807    5.797244
20090908    4.665235
20091007    3.967130
20091105    2.817663
20091207    2.285162
20100107    1.832943
20100208    1.939920
20100310    1.599509
20100409    1.480194
20100510    1.495615
20100609    1.751447
20100709    1.863992
20100809    1.783167
20100908    1.780849
20101007    1.769659
20101105    1.587191
20101207    1.252674
20110106    1.002540
20110207    0.976253
20110309    0.969979
20110407    1.017841
20110509    1.018529
20110608    1.077813
20110708    1.087158
20110808    1.731943
20110907    2.103925
20111006    2.340963
20111104    2.474280
20111206    2.535769
Name: WML Daily, dtype: float64

In [188]:
rolling_standard_deviation=rolling_standard_deviation.iloc[7:]
rolling_standard_deviation

19270430    1.019643
19270525    0.980788
19270621    0.958297
19270716    0.981811
19270810    1.038615
19270903    1.128727
19270929    1.107661
19271025    1.193456
19271119    1.227342
19271215    1.215496
19280111    1.174297
19280204    1.034258
19280302    1.053057
19280327    1.048201
19280424    1.016945
19280522    1.070542
19280618    1.288996
19280713    1.383075
19280807    1.378662
19280831    1.360522
19280926    1.330117
19281022    1.267284
19281116    1.007248
19281213    1.480607
19290109    1.468857
19290202    1.460387
19290304    1.487505
19290328    1.596680
19290424    1.608725
19290518    1.186143
              ...
20090709    5.854114
20090807    5.797244
20090908    4.665235
20091007    3.967130
20091105    2.817663
20091207    2.285162
20100107    1.832943
20100208    1.939920
20100310    1.599509
20100409    1.480194
20100510    1.495615
20100609    1.751447
20100709    1.863992
20100809    1.783167
20100908    1.780849
20101007    1.769659
20101105    1.587191
20101207    1.252674
20110106    1.002540
20110207    0.976253
20110309    0.969979
20110407    1.017841
20110509    1.018529
20110608    1.077813
20110708    1.087158
20110808    1.731943
20110907    2.103925
20111006    2.340963
20111104    2.474280
20111206    2.535769
Name: WML Daily, dtype: float64

These are the 6-month realized variances for approximately each month

In [191]:
def divide(x):
    return 0.12/x

In [192]:
target_standard_deviation_divided_by_realized_standard_deviation= rolling_standard_deviation.apply(divide)

In [193]:
target_standard_deviation_divided_by_realized_standard_deviation

19270430    0.117688
19270525    0.122351
19270621    0.125222
19270716    0.122223
19270810    0.115539
19270903    0.106314
19270929    0.108336
19271025    0.100548
19271119    0.097772
19271215    0.098725
19280111    0.102189
19280204    0.116025
19280302    0.113954
19280327    0.114482
19280424    0.118000
19280522    0.112093
19280618    0.093096
19280713    0.086763
19280807    0.087041
19280831    0.088201
19280926    0.090218
19281022    0.094691
19281116    0.119136
19281213    0.081048
19290109    0.081696
19290202    0.082170
19290304    0.080672
19290328    0.075156
19290424    0.074593
19290518    0.101168
              ...
20090709    0.020498
20090807    0.020699
20090908    0.025722
20091007    0.030249
20091105    0.042588
20091207    0.052513
20100107    0.065468
20100208    0.061858
20100310    0.075023
20100409    0.081070
20100510    0.080235
20100609    0.068515
20100709    0.064378
20100809    0.067296
20100908    0.067384
20101007    0.067810
20101105    0.075605
20101207    0.095795
20110106    0.119696
20110207    0.122919
20110309    0.123714
20110407    0.117897
20110509    0.117817
20110608    0.111337
20110708    0.110380
20110808    0.069286
20110907    0.057036
20111006    0.051261
20111104    0.048499
20111206    0.047323
Name: WML Daily, dtype: float64

In [194]:
momentum_returns_df.head()

,1,2,3,4,5,6,7,8,9,10,WML Returns,WML Daily
192703,-3.20,-2.99,-3.98,-4.76,-0.48,-2.40,2.10,0.61,0.89,5.47,10.23,14.99
192704,1.53,-2.87,-2.46,-1.34,2.59,-0.13,2.05,-0.59,1.64,5.49,8.36,11.23
192705,3.98,4.39,5.90,3.15,6.25,5.92,4.66,6.59,8.16,6.24,5.01,5.01
192706,-6.42,-3.51,-3.13,-2.65,-2.30,-1.79,-1.92,-1.56,-2.48,-1.58,4.86,11.28
192707,4.20,4.53,4.26,5.08,8.33,6.98,8.51,7.04,6.44,13.14,8.94,8.94

In [195]:
target_standard_deviation_divided_by_realized_standard_deviation.head()

19270430    0.117688
19270525    0.122351
19270621    0.125222
19270716    0.122223
19270810    0.115539
Name: WML Daily, dtype: float64

In [197]:
momentum_returns_df=momentum_returns_df[1:]
del momentum_returns_df['WML Daily']
momentum_returns_df.head()

,1,2,3,4,5,6,7,8,9,10,WML Returns
192705,3.98,4.39,5.90,3.15,6.25,5.92,4.66,6.59,8.16,6.24,5.01
192706,-6.42,-3.51,-3.13,-2.65,-2.30,-1.79,-1.92,-1.56,-2.48,-1.58,4.86
192707,4.20,4.53,4.26,5.08,8.33,6.98,8.51,7.04,6.44,13.14,8.94
192708,-0.55,0.35,1.42,1.70,2.42,1.50,2.34,2.42,0.35,5.52,6.07
192709,-0.27,3.02,3.37,4.29,4.17,5.07,4.75,4.35,5.76,7.35,7.62

In [198]:
target_standard_deviation_divided_by_realized_standard_deviation=target_standard_deviation_divided_by_realized_standard_deviation[1:]
target_standard_deviation_divided_by_realized_standard_deviation.head()

19270525    0.122351
19270621    0.125222
19270716    0.122223
19270810    0.115539
19270903    0.106314
Name: WML Daily, dtype: float64

In [210]:
new_WML=target_standard_deviation_divided_by_realized_standard_deviation.reset_index(drop=True)*momentum_returns_df['WML Returns'].reset_index(drop=True)

In [211]:
momentum_returns_df.count()

1              1016
2              1016
3              1016
4              1016
5              1016
6              1016
7              1016
8              1016
9              1016
10             1016
WML Returns    1016
dtype: int64

In [212]:
new_WML

0       0.612977
1       0.608579
2       1.092675
3       0.701319
4       0.810116
5       0.451763
6       0.876782
7       0.478106
8       0.181654
9       0.302479
10      1.862205
11      1.373145
12      0.912421
13      0.574662
14      0.347487
15      0.724285
16      0.512771
17      0.961802
18      1.619378
19      0.592730
20      1.081368
21      0.858974
22      0.445763
23      1.025287
24      0.908800
25      1.666683
26      0.622291
27      1.053256
28      0.902421
29      2.119261
          ...
1035         NaN
1036         NaN
1037         NaN
1038         NaN
1039         NaN
1040         NaN
1041         NaN
1042         NaN
1043         NaN
1044         NaN
1045         NaN
1046         NaN
1047         NaN
1048         NaN
1049         NaN
1050         NaN
1051         NaN
1052         NaN
1053         NaN
1054         NaN
1055         NaN
1056         NaN
1057         NaN
1058         NaN
1059         NaN
1060         NaN
1061         NaN
1062         NaN
1063         NaN
1064         NaN
dtype: float64

In [213]:
new_WML=new_WML[:1030]
new_WML

0       0.612977
1       0.608579
2       1.092675
3       0.701319
4       0.810116
5       0.451763
6       0.876782
7       0.478106
8       0.181654
9       0.302479
10      1.862205
11      1.373145
12      0.912421
13      0.574662
14      0.347487
15      0.724285
16      0.512771
17      0.961802
18      1.619378
19      0.592730
20      1.081368
21      0.858974
22      0.445763
23      1.025287
24      0.908800
25      1.666683
26      0.622291
27      1.053256
28      0.902421
29      2.119261
          ...
1000    0.530386
1001    0.252236
1002    0.665421
1003    0.821823
1004    0.522844
1005    0.604092
1006    0.882931
1007    0.653608
1008    0.545469
1009    0.785352
1010    0.585778
1011    1.430189
1012    1.284450
1013    0.876514
1014    1.004156
1015    0.556669
1016         NaN
1017         NaN
1018         NaN
1019         NaN
1020         NaN
1021         NaN
1022         NaN
1023         NaN
1024         NaN
1025         NaN
1026         NaN
1027         NaN
1028         NaN
1029         NaN
dtype: float64

In [214]:
new_WML=new_WML[:1016]
new_WML

0       0.612977
1       0.608579
2       1.092675
3       0.701319
4       0.810116
5       0.451763
6       0.876782
7       0.478106
8       0.181654
9       0.302479
10      1.862205
11      1.373145
12      0.912421
13      0.574662
14      0.347487
15      0.724285
16      0.512771
17      0.961802
18      1.619378
19      0.592730
20      1.081368
21      0.858974
22      0.445763
23      1.025287
24      0.908800
25      1.666683
26      0.622291
27      1.053256
28      0.902421
29      2.119261
          ...
986     0.649751
987     2.598982
988     0.707807
989     1.368833
990     0.236195
991     0.771917
992     1.134019
993     0.819404
994     0.805042
995     0.817840
996     0.399351
997     1.070170
998     0.473384
999     0.264051
1000    0.530386
1001    0.252236
1002    0.665421
1003    0.821823
1004    0.522844
1005    0.604092
1006    0.882931
1007    0.653608
1008    0.545469
1009    0.785352
1010    0.585778
1011    1.430189
1012    1.284450
1013    0.876514
1014    1.004156
1015    0.556669
dtype: float64

In [215]:
new_WML.describe()

count    1016.000000
mean        0.815328
std         0.588226
min         0.061011
25%         0.406608
50%         0.664864
75%         1.071688
max         5.452736
dtype: float64

In [216]:
print('kurtosis: ' +str(new_WML.kurtosis()))
print ('skewness: '+ str(new_WML.skew()))

kurtosis: 8.54335299222
skewness: 2.14933045382

These statistics (those of the risk-managed momentum) are clearly "better", so there we go.